h1 {
  text-align: center;
  margin-top: 20px;
  font-size: 22px;
}

h2 {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
}

.header {
  background-color: #f0f0f0;
  text-align: center;
  padding: 20px 0;
  font-size: 24px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.room-id {
  margin-top: 20px;
  font-size: 20px;
}

.full-width {
  width: 100%;
}
